body {
	font-family: "Andale Mono", AndaleMono, monospace;
	text-align: center;
	user-select: none;
	background-image: url("background.jpg");
	background-size: cover;
}

#name {
	display: inline-block;
	font-size: 2.5em;
	text-align: center;
	border-bottom: 5px double black;
	border-top: 5px double black;
}

.bubble {
	border-radius: 50%;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: white;
}

.mainMenu {
	width: 350px;
	height: 350px;
	line-height: 350px;
	margin: 10px;
	font-size: 2em;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.mainMenu.link:hover {
	cursor: pointer;
	color: white;
	text-shadow: 0 0 5px yellow;
}

.image {
	opacity: .1;
	left: 0;
	position: absolute;
	height: 350px;
	z-index: 3;	
}

.image:hover {
	opacity: 1;
}

.image.main {
	opacity: 1;
	width: 350px;
	left: 0;
}

.label {
	position: absolute;
	width: 100%;
	z-index: 5;
	pointer-events: none;
}

#back {
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 30px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

#back:hover {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	background-color: azure;
	border-radius: 5px;
	color: black;
}

a:hover {
	background-color: paleturquoise;
}

p, .imageContainer {
	max-width: 800px;
	margin: auto;
	margin-bottom: 10px;
}

.pageImage {
	border-radius: 50%;
	margin: 10px;
}

.imageContainer {
	margin-top: 80px;
}