body {
	font-family: "Andale Mono", AndaleMono, monospace;
	text-align: center;
	user-select: none;
	background-image: url("background.jpg");
	background-size: cover;
	margin: 0;
	border-top: 8px solid #B7FFF1;
	border-bottom: 8px solid #FFB7C5;
}

#name {
	display: inline-block;
	font-size: 2.5em;
	text-align: center;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	margin-bottom: 60px;
}

.text {
	display: none;
}

.bubble {
	border-radius: 50%;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color: white;
}

.mainMenu {
	width: 350px;
	height: 350px;
	line-height: 350px;
	margin: 10px;
	font-size: 2em;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.mainMenu.link:hover {
	cursor: pointer;
	color: white;
	text-shadow: 0 0 5px yellow;
}

.mainMenu.pandora, .mainMenu.pandora img {
	width: 150px;
	height: 150px;
	line-height: 150px;
	font-size: 1.4em;
}

.image {
	opacity: .1;
	left: 0;
	position: absolute;
	z-index: 3;	
}

.image:hover {
	opacity: 1;
}

.image.main {
	opacity: 1;
	left: 0;
}

.label {
	position: absolute;
	width: 100%;
	z-index: 5;
	pointer-events: none;
}

a {
	text-decoration: none;
	color: darkturquoise;
}

a:hover {
	border-top: 1px solid darkcyan;
	border-bottom: 1px solid darkcyan;
	color: darkcyan;
}

p, .imageContainer {
	max-width: 800px;
	margin: auto;
	margin-bottom: 10px;
}

.pageImage {
	border-radius: 50%;
	margin: 10px;
}

.imageContainer {
	margin-top: 80px;
}

.current .image {
	opacity: 1;
}

.current .label {
	display: none;
}