body {
	font-family: tahoma;
	text-align: center;
}

#name {
	font-size: 3em;
	text-align: center;
}

.bubble {
	border-radius: 50%;
	text-align: center;
}

.mainMenu {
	width: 200px;
	height: 200px;
	line-height: 200px;
	margin: 10px;
	font-size: 1.5em;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.mainMenu.link:hover {
	cursor: pointer;
	color: white;
	text-shadow: 0 0 5px yellow;
}

#headshot {
	background-image: url("headshot.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about:after {
	content: "";
	background-image: url("about.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}

#about:hover:after, #teaching:hover:after, #playing:hover:after, #researching:hover:after, #coding:hover:after, #woodworking:hover:after {
	opacity: .85;
}

#teaching:after {
	content: "";
	background-image: url("teaching.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}

#playing:after {
	content: "";
	background-image: url("playing.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}

#researching:after {
	content: "";
	background-image: url("researching.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}

#coding:after {
	content: "";
	background-image: url("coding.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}

#woodworking:after {
	content: "";
	background-image: url("woodworking.jpg");
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-radius: 50%;
}